@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000116;
}

.banner{
    width: 100%;
    height: 100vh;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: larger;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.container{
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider{
  position: relative;
  background: #000116;
  width: 400px;
  min-height: 500px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider:hover .navigation{
  opacity: 1;
}



/* table for employess */

.employeestable{
  width:  600px;
}
.employeestable h3{
  color: #009688;;
  display: inline;
}

#employee {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #employee td, #employee th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #employee tr{background-color: #f2f2f2;}
  
  #employee tr:hover {background-color: #ddd;}
  
  #employee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.content{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    color: #009688;
}
.form_group{
  line-height: 30px;
  padding-top: 10px;
}
.form_group label{
  color: cyan;
  margin-left: 5px;
}
.form_group input{
width: 300px;
height: 30px;
border-radius: 5px;
font-size: 20px;
} 

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    display: flex;
    flex-direction: row;
  }

  .switch label{
      margin-left: 120%;
      margin-top: -5px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle {
    background-color: #2196F3;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .toggle.round {
    border-radius: 34px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
}




@media (max-width: 900px){
  .slider{
    width: 100%;
  }
}    